.sort-filter {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: $mid-color-dark 1px solid;
  button {
    border: 1px solid $mid-color-dark;
    border-radius: 5px;
  }
  button:hover {
    background-color: $mid-color-light;
    cursor: pointer;
  }
  button:focus {
    outline-color: $mid-color-dark;
  }
  .tags {
    border: 1px solid $base-color-dark;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
  }
}

.filter-container {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  .filterButtons {
    button {
      padding-left: 0.5 rem;
    }
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}

.filterDropdown {
  margin: 24.5rem 1rem 1rem 1rem;
  border: 1px solid $base-color-dark;
  padding: 1rem;
  background-color: $base-color-light;
  position: absolute;
  overflow-y: scroll;
  max-width: 40rem;
  ul {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  li:first-child {
    font-weight: bold;
  }
  li {
    margin: 0.2rem;
  }
  .tags-list {
    li:first-child:hover {
      background-color: $mid-color-light;
      cursor: default;
    }

    li:hover {
      background-color: $mid-color-light;
      cursor: pointer;
    }
  }
}

.sort-filter-options {
  display: inline-flex;
  align-items: center;
  li {
    padding-right: 0.5rem;
  }
}

.sort-filter-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
  ul {
    display: inline-flex;
    align-items: center;
    li {
      padding-right: 0.5rem;
    }
  }
}

.filter-button-holder {
  button {
    margin-left: 0.5rem;
  }
}

.current-filters {
  // margin: 1rem 2rem;
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-bottom: 1px $base-color-dark solid;
  li {
    display: inline;
    margin-right: 0.5rem;
    border: 1px solid $base-color-dark;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: $base-color-light;
  }
  li:first-child {
    border: none;
    background-color: transparent;
  }
}

li.filters {
  padding: 0.2rem 0.8rem;
  border-radius: 30px;
}

.currentFilters {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 0.3rem;
  }
}
