//---------------login-reg-form-----------------------------

.login-form,
.reg-form {
  border: 2px solid $mid-color-mid;
  padding: 4rem 4rem;
  border-radius: 20px;
  box-shadow: 5px 10px rgba(14, 13, 13, 0.233);
  background-color: $base-color-light;
}

.input {
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}

//--------------------new-quote-form----------------

.nq-form-container {
  // position: relative;
}

.nq-form {
  background: rgba(248, 0, 0, 0.397);
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nq-form.active {
  opacity: 1;
  visibility: visible;
}

.nq-form-form {
  // list-style: none;
  @include justifyCenter;
  padding: 3rem;
  margin: 0;
  background-color: $base-color-light;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
}

.nq-form-input {
  // border: yellow solid 1px;
}
.nq-form-trigger {
  background: #f0000000;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  outline: none;
  color: $base-color-dark;
}

.nq-form-trigger:hover {
  color: $mid-color-mid;
}

.nq-form-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.nq-input {
  width: 28rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}

.nq-input-body {
  width: 28rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}

//-----form grid--------

.form-row-label,
.form-row-input {
  display: flex;
}

.col-1-of-1 {
  // border: 1px solid yellow;
  width: 40rem;
}

.col-1-of-2 {
  // border: 1px solid yellow;
  width: 30rem;
}

.col-2-of-2 {
  display: flex;
  align-items: center;
  // border: 1px solid yellow;
  width: 10rem;
}

.col-tags ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.col-tags li {
  border: 1px black solid;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  margin: 0.2rem;
}

//---------------------------------------
