//---------------login-reg-form-----------------------------

.login-form,
.reg-form {
  border: 2px solid $mid-color-mid;
  padding: 4rem 4rem;
  border-radius: 20px;
  box-shadow: 5px 10px rgba(14, 13, 13, 0.233);
  background-color: $base-color-light;
}

.input {
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}

//--------------------new-quote-form----------------

.nq-form-container {
  // position: relative;
}

.nq-form {
  opacity: 0;
  visibility: hidden;
  background-color: $mid-color-dark;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  // position: absolute;
}

.nq-form.active {
  opacity: 1;
  visibility: visible;
}

.nq-form-form {
  // list-style: none;
  @include justifyCenter;
  padding: 3rem;
  margin-top: 10vh;
  background-color: $base-color-light;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.726);
  // position: absolute;
}

.nq-form-input {
  // border: yellow solid 1px;
}
.nq-form-trigger {
  background: $mid-color-dark;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px $base-color-light solid;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  outline: none;
  color: $base-color-light;
  box-shadow: 1px 1px 3px $base-color-light;
}

.nq-form-trigger:hover {
  color: $base-color-light;
  background: $mid-color-mid;
  transform: translateY(4px);
}

.nq-form-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.nq-input {
  width: 28rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
  background-color: $base-color-light;
}

.nq-input-body {
  width: 28rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
  background-color: $base-color-light;
}

//-----form grid--------

.form-row-label,
.form-row-input {
  display: flex;
}

.col-1-of-1 {
  // border: 1px solid yellow;
  width: 40rem;
}

.col-1-of-2 {
  // border: 1px solid yellow;
  width: 30rem;
}

.col-2-of-2 {
  display: flex;
  align-items: center;
  // border: 1px solid yellow;
  width: 10rem;
}

.col-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // border: 1px solid yellow;
  width: 10rem;
}

.col-tags div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.col-tags span {
  border: 1px black solid;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  margin: 0.2rem;
}

.col-fav {
  width: 30rem;
  display: flex;
  justify-content: flex-start;
}

.nq-input-fav {
  justify-content: flex-start;

  width: 3rem;
  height: 1.5rem;
  margin: 1rem;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}
//---------------------------------------

.ws-menu-left-test.inactive {
  visibility: hidden;
  opacity: 1;
}
