//-----------------media queries-----------------------------

//-----quote viewer---------------------------

//--------------------workspace-nav-left-responsive---------------

//--------------------login-nav-top----------------------------

@media only screen and (min-width: 800px) {
  .menu-top-icons-resp {
    // border: 1px yellow solid;
    visibility: hidden;
  }
}

@media only screen and (max-width: 800px) {
  .dd-resp-menu.active {
    opacity: 1;
    visibility: visible;
  }

  div.ws-main {
    // background-color: blue;
  }

  .qv {
    // background-color: yellow;
  }

  section.ws-left {
    // min-width: 20vw;
    // background-color: purple;
    visibility: hidden;
    width: 0;
    // background-color: blue;
  }

  div.ws {
    background-color: $base-color-light;
    display: flex;
    justify-content: center;
  }

  .ws-menu-left {
    display: flex;
    justify-content: left;
    padding-top: 2rem;
    background-color: red;
  }

  .ws-menu-left-items {
    //  width: 100%;
  }

  .ws-menu-left-items-link {
    padding: 1rem;
    @include justifyCenter;
  }

  .ws-menu-left-items-link:hover {
    border-bottom: 1px $base-color-light solid;
  }

  // .workspace-menu-left-items-button {
  //   @include buttonUnStyle;
  // }
}
