//-----------------main-nav-top-------------------------

.nav-container {
  background-color: $mid-color-light;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  box-shadow: 5px 20px back;
  z-index: 1;
}

.nav-container-login {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  // justify-content: flex-end;
  background-color: $mid-color-light;
  position: fixed;
  z-index: 2;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.527);
}

.nav-links {
  @include justifyCenter;
  list-style-type: none;
  margin-right: 4rem;
}

.nav-link {
  width: 7rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  @include justifyCenter;
  align-items: center;
}

.nav-link:hover {
  border-bottom: 1px black solid;
}

.nav-link a {
  text-decoration: none;
  color: $base-color-dark;
  padding: 1rem;
}

//--------------------login-nav-top----------------------------

.menu-top-icons {
  display: flex;
  padding-right: 1rem;
  // border: 1px blue solid;
}

//--------------------workspace-nav-left-----------------

.ws-left {
  padding-top: 2rem;
  flex-direction: column;
  justify-content: space-between;
  // height: 20vh;
  // border: yellow 1px solid;
  display: flex;
  background: $mid-color-dark;
  height: 95vh;
  // position: fixed;
  // z-index: 1;
  // top: 0;
  // left: 0;
}

// .ws-menu-left {
//   display: flex;
//   justify-content: left;
//   padding-top: 2rem;
// }

.ws-menu-left-items {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.ws-menu-left-items-link {
  padding: 1rem 0;
  @include justifyCenter;
  // align-self: flex-start;
}

.ws-menu-left-items-link:hover {
  // border-bottom: 1px $base-color-light solid;
  background-color: $mid-color-light;
  border-bottom: 1px $base-color-light solid;

  width: 100%;
}

.search-placeholder {
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
  margin-top: 5rem;
  border: 1px solid white;
}

.ws-menu-left-items-search-bar {
  @include buttonUnStyle;
  background-color: $base-color-light;
  // background: url("search.png");
  border-radius: 30px;
  border: $mid-color-light solid 1px;
  padding: 0.5rem 1rem;
  width: auto;
}
