.ws {
  @include minHeightComponents;
  background-color: $mid-color-dark;
  display: flex;
  transform: translateY(60px);
}

.ws-right {
  min-height: 100vh;
  display: flex;
  width: 100%;
  background-color: $base-color-light;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 3px red solid;
  // position: absolute;
  // right: 0;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }
}

.ws-main-text {
  padding-top: 2rem;
  max-width: 40rem;
}

//----------------workspace-all-quotes--------------------

div.quote-container {
  border: 1px solid black;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
}

div.quote-container:hover {
  color: grey;
  cursor: pointer;
  transform: translateY(10px);
}

div.quote-container-open {
  border: 1px solid black;
  margin: 2rem;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
}

div.quote-container-closed {
  border: 1px solid black;
  margin: 2rem;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

div.quote-container-open > * > *:hover,
div.quote-container-closed > * > *:hover,
div.quote-container-open > * > * > *:hover,
div.quote-container-closed > * > * > *:hover,
div.quote-container-open > * > * > * > *:hover,
div.quote-container-closed > * > * > * > *:hover,
span.qc-span-quote > *:hover {
  color: $mid-color-mid;
  cursor: pointer;
}

div.quote-container-closed button {
  align-self: flex-end;
}

//---------new quote form----------------

.new-quote-form-input-quote {
  height: 10rem;
}

//---------quote-container---------------

.qc-span {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}

.bold {
  margin-right: 0.5rem;
}

.qc-tags-single {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.qc-tags-single > * {
  border: 1px black solid;
  margin: 0.5rem 0.5rem;
  border-radius: 20px;
  padding: 0 1rem;
  font-size: 1rem;
  list-style-type: none;
}

.qc-tags-single > *:not(:first-child):hover {
  transform: translateY(5px);
  background-color: $mid-color-light;
  color: $base-color-dark;
  cursor: pointer;
}

.qc-tags-single p {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  display: flex;
  align-self: center;
}

.quote-container-closed {
}

.qc-text {
  max-width: 90rem;
  padding: 2rem 3rem;
}

//------quoteviewer-----------------------------ö

// .qv {
//   background-color: yellow;
// }

.qv-quotes-to-render {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // flex-wrap: wrap;
  // border: 1px black solid;
}
