.ws {
  @include minHeightComponents;
  background-color: $mid-color-dark;
  width: 100%;
  display: flex;
  transform: translateY(60px);
}

.ws-right {
  background-color: yellow;
  width: 85%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }
}

.ws-main {
  height: 100%;
  width: 100%;
  background-color: $base-color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sort-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 2rem;
    ul {
      display: inline-flex;
      align-items: center;
      li {
        padding-right: 0.5rem;
        button {
          border: 1px solid#012626;
          border-radius: 5px;
        }
        button:hover {
          background-color: #03a6a6;
          cursor: pointer;
        }
        .active {
          background-color: #012626;
          color: #f2f2f2;
        }
        .active:hover {
          background-color: #012626;
        }
        button:focus {
          outline-color: #03a6a6;
        }
      }
    }
  }
}

.ws-main-text {
  padding-top: 2rem;
  max-width: 40rem;
}

//----------------workspace-all-quotes--------------------

div.quote-container-open {
  border: 1px solid black;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px grey;
}

div.quote-container-closed {
  border: 1px solid black;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px grey;
  display: flex;
  flex-direction: column;
}

div.quote-container-open > *:hover,
div.quote-container-closed > *:hover,
div.quote-container-open > * > *:hover,
div.quote-container-closed > * > *:hover,
div.quote-container-open > * > * > *:hover,
div.quote-container-closed > * > * > *:hover {
  color: grey;
  cursor: pointer;
}

div.quote-container-closed button {
  align-self: flex-end;
}

//---------new quote form----------------

.new-quote-form-input-quote {
  height: 10rem;
}
