//---------text-------------//

.workspace-main-text {
  padding-top: 2rem;
  max-width: 40rem;
}

//--------------workspace --------------//

.ws {
  @include minHeightComponents;
  background-color: $mid-color-dark;
  display: flex;
  transform: translateY(60px);
}

.ws-right {
  min-height: 100vh;
  display: flex;
  width: 100%;
  background-color: $base-color-light;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }

  h2 {
    margin: 5rem 1rem 1rem 1rem;
    text-align: center;
  }
}

.ws-main-text {
  padding-top: 2rem;
  max-width: 40rem;
}

//---------quote-container---------------

div.qc {
  border: 1px solid black;
  margin: 2rem;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

div.qc > * > * > * > *:hover {
  color: $mid-color-mid;
  cursor: pointer;
}

p.bold-quote,
p.bold-source,
p.bold-notes,
p.bold-tags,
p.bold-location,
p.bold-details {
  align-self: flex-start;
  margin-top: 0.5rem;
}

p.bold-quote-main,
p.bold-source-main,
p.bold-notes-main,
p.bold-tags-main,
p.bold-location-main,
p.bold-details-main {
  align-self: flex-start;
}

div.qc span {
  display: flex;
}

.qc-span {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}

.qc-span:nth-child(2n + 3) {
  // border: yellow solid 1px;
  align-content: flex-start;
  align-self: flex-start;
}

.qc-tags-single {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.qc-tags-single > * {
  border: 1px black solid;
  margin: 0.5rem 0.5rem;
  border-radius: 20px;
  padding: 0 1rem;
  font-size: 1rem;
  list-style-type: none;
}

.qc-tags-single > *:not(:first-child):hover {
  transform: translateY(5px);
  background-color: $mid-color-light;
  color: $base-color-dark;
  cursor: pointer;
}

.qc-tags-single p {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  display: flex;
  align-self: center;
}

.qc-text {
  max-width: 90rem;
  padding: 2rem 3rem;
}

.bold {
  margin-right: 0.5rem;
}

//------qc-editable----------------------//@include

.editable-input {
  background-color: $base-color-light;
  border: none;
  border-radius: 20px;
  // height: 5rem;
  padding-left: 1rem;
  border: black 1px solid;
  outline: none;
}

.editable-input-quote {
  // height: 15rem;
  // text-align: start;
  width: 80rem;
  height: fit-content;
  border: black 1px solid;
}

.qce-tags {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.qce-tags-line {
  display: flex;
  flex-direction: row;
  max-width: 30rem;
  flex-wrap: wrap;
}

.qce-tags-line > * {
  border: black 1px solid;
  border-radius: 20px;
  margin: 0.3rem 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

//------quoteviewer-----------------------------ö

.qv-quotes-to-render {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.qv {
  width: 100%;
  max-width: 50rem;
  .last-search {
    margin: 0 2rem;
  }
}

.qv h1 {
  border-bottom: 1px $base-color-dark solid;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
