.home-element-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about,
.help,
.home,
.redux-button-login,
.sign-in,
.personal-profile,
.registration-confirmation,
.reg-form,
.login-form,
.quote,
.sign-up,
.register {
  @include justifyCenter;
  flex-direction: column;
  align-items: center;
}

.about,
.sign-up,
.quote {
  width: 100%;
}

.about {
  // background-color: $mid-color-light;
  @include minHeightComponents;
  // background-image: url("../../components/Pages/Home/img/booksstapple.jpg");
  padding: 200px 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($mid-color-light, 0.9),
      rgba($mid-color-mid, 0.9)
    ),
    url(../../img/booksstapple.jpg);
  background-size: cover;
  // transform: skewY(-7deg);
}

.quote {
  background-image: linear-gradient(
      to right bottom,
      rgba($mid-color-mid, 0.9),
      rgba($mid-color-light, 0.9)
    ),
    url(../../img/postit.jpg);
  background-size: cover;
  // transform: skewY(-7deg);
}

.quote,
.sign-in,
.register {
  @include minHeightComponents;
  background-color: $mid-color-light;
}

.sign-in,
.register {
  // padding-bottom: 30vh;
  // border: 1px solid black;
  background-image: linear-gradient(
      to right bottom,
      rgba($mid-color-mid, 0.9),
      rgba($mid-color-light, 0.9)
    ),
    url(../../img/postit.jpg);
  background-size: cover;
  // transform: skewY(-7deg);
}

.sign-up {
  background-color: $mid-color-dark;
  @include minHeightComponents;
  color: $base-color-light;
}

//-------text-------------------

.text {
  max-width: 65rem;
  padding: 3rem;
}

//-------------------------------

.home-header {
  margin-bottom: 0;
}
