//------home section--------------------------------------

.about-single-button-dark {
  @include singleButton;
  background-color: $mid-color-mid;
  width: 10rem;
  // padding: 1rem 2rem;
  margin-right: 2rem;
  outline: none;
}

.about-single-button-dark:hover {
  background-color: $mid-color-light;
  transform: translateY(3px);
  box-shadow: 5px 10px rgba(14, 13, 13, 0.233);
}

.about-single-button {
  margin: 1rem;
}

.sign-up-single-button-light {
  @include singleButton;
  background-color: $mid-color-light;
  outline: none;
  padding: 1rem 3rem;
}

.sign-up-single-button-light:hover {
  background-color: $mid-color-mid;
  transform: translateY(3px);
  box-shadow: 5px 10px rgba(14, 13, 13, 0.233);
}

//-------workspace-menu-top--------------------------

// .ws-menu-top-button-single {
//   margin: 1rem 2rem;
// }

//-------workspace-menu-left--------------------------

.ws-menu-left-items-button-new-quote {
  // background-color: $mid-color-dark;
  // border: $base-color-light;
}
.ws-menu-left-items-buttons.menu-left-trigger {
  // color: $base-color-light;
  // padding-right: 0.5rem;
}

li.ws-menu-left-items-button-big {
  // @include buttonUnStyle;
  // background-color: $mid-color-mid;
  // border-radius: 30px;
  // border: $mid-color-light solid 1px;
  // padding: 0.2rem 1.5rem;
}

li.ws-menu-left-items-button-big,
.sws-menu-left-items-button-big-col {
  padding: 0.8rem 1rem;
  // border: 1px $base-color-light solid;
  @include justifyCenter;
}

.ws-menu-left-items-button-big:first-child {
  padding-top: 2rem;
}

.ws-menu-left-items-button-big:nth-child(3) {
  padding-bottom: 2rem;
}

.test-test {
  padding-right: 0.5rem;
}

.ws-menu-left-items-button-big a:hover {
  background-color: $mid-color-light;
  cursor: pointer;
  transform: translateY(3px);
}

button.ws-menu-left-icon-folder {
  background: $mid-color-dark;
  border: none;
}

.icn-folder {
  color: $base-color-light;
}

//---------------login-form-----------------------------

.sign-in-button,
.register-button {
  @include singleButton;
  width: 10rem;
  background-color: $base-color-light;
  padding: 0.5rem;
  margin-top: 2rem;
}

.sign-in-button:hover,
.register-button:hover {
  @include buttonHoverEffect;
  outline: none;
}

//--------------workspace-new-quote-form---------------------------

.nq-form-button-close,
.ns-form-button-close {
  @include buttonUnStyle;
  align-self: flex-start;
  position: relative;

  border: $base-color-dark 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: $base-color-light;
  border-radius: 50px;
  box-shadow: 2px 3px 5px $base-color-dark;
}

.ns-form-button-close {
  top: 360px;
  right: -490px;
}

.nq-form-button-close {
  top: 95px;
  right: -490px;
}

.nq-form-button-close:hover,
.ns-form-button-close:hover {
  transform: translateY(10px);
}

button.nq-button {
  @include buttonUnStyle;
  background-color: $base-color-light;
  border: $base-color-dark solid 1px;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  // margin-top: 2rem;
}

.button.nq-button a {
  @include buttonUnStyle;
  color: $base-color-dark;
}

.nq-button-submit {
  @include buttonUnStyle;
  margin-top: 2rem;
  border: $base-color-dark solid 1px;
  padding: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
}

//------------quote-container---------------

button.qc-button {
  border: none;
  margin-bottom: 0;
  outline: none;
  padding-bottom: 0;
}

//----responsive--menu-----

li.ws-resp-menu-items button {
  @include buttonUnStyle;
  padding: 1rem;
  color: $base-color-light;
  font-size: 1.5rem;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

li.ws-resp-menu-items button:hover {
  transform: none;
}

.ws-resp-menu-items-search-bar {
  padding: 0.5rem;
  padding-left: 1rem;
  margin: 1rem;
  border-radius: 30px;
  outline: none;
}

@media only screen and (max-width: 800px) {
  button.ws-menu-left-items-button-new-quote {
    background-color: pink;
    @include buttonUnStyle;
    border: 0;
  }

  .nq-form-trigger button:hover {
    @include buttonUnStyle;
    border: 0;
  }
}
