/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/SourceCodePro-Light.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular-slnt=0.ttf");
}

body {
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.7;
  color: $mid-color-dark;
}

h2 {
  font-family: "Inter";
  font-size: 4rem;
}

p {
  font-family: "Inter";
  font-size: 3rem;
}

//-----------------home--------------------------------------

button.sign-up-single-button-light,
button.about-single-button-dark {
  font-size: 1.3rem;
}

.home-header {
  font-family: "Inter";
  font-size: 5rem;
}

//--------------nav----------------------------------------------

.nav-link {
  font-size: 1.5rem;
  color: $base-color-light;
}

//--------------text------------------------------------------------

p.text-quote {
  font-size: 4rem;
  max-width: 70rem;
}

//-----------------footer--------------------------------------------

.footer-icons-single {
  color: $base-color-light;
  font-size: 5rem;
}

.text-footer {
  color: $base-color-light;
  font-size: 1.5rem;
}

//--------------------workspace-----------------------------------------

.ws-menu-top-icon-single {
  margin: 1rem;
  font-size: 2rem;
}

//-----------workspace-nav-left----------------------------------------

// font all items on left nav
li.ws-menu-left-items-link,
.menu-left.active,
.ws-menu-left-items-button-big a,
li.ws-menu-left-items-button-big {
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
  color: $base-color-light;
}

.ws-menu-left-items-button-big-col {
  color: $base-color-light;
  font-size: 2rem;
  padding: 0.7rem 1rem;
}

li.ws-menu-left-items-link a {
  text-decoration: none;
  color: $base-color-light;
}

// arrow button for dropdown
.ws-menu-left-icon-single {
  font-size: 0.8rem;
}

.ws-menu-left-items-button {
  color: $base-color-light;
}

.ws-menu-left-icon-folder {
  font-size: 3rem;
  margin-top: 4rem;
}

//-----------workspace-new-quote form----------------------------------------

.new-quote-form-text {
  font-size: 1rem;
  padding: 0;
  // border: black 1px solid;
  align-self: flex-start;
  margin-left: 2rem;
}

.col-1-of-1 label {
  color: $base-color-dark;
  font-weight: bold;
  font-size: 1.5rem;
}

.nqf-bold {
  color: $base-color-dark;
  font-weight: bold;
  font-size: 1.5rem;
}

.col-1-of-2,
.col-tags {
  color: $base-color-dark;
}

//-------------workspace all quotes----------------------

//applies style to all children of this element
div.quote-container-open > *,
div.quote-container-closed > *,
div.quote-container-open > * > *,
div.quote-container-closed > * > * {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}
